<div class="starter-page">
  <h1>Login</h1>
  <div class="row contact-row">
    <div class="col-md-12">
      <div class="text-muted">
        <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <label for="">
                Email
              </label>
              <input formControlName="email" type="text" class="form-control">
            </div>
            <div class="col-md-12">
              <label for="">
                Password
              </label>
              <input formControlName="password" type="password" class="form-control">
            </div>
            <div class="col-md-12 mt-4">
              <button type="submit" class="btn btn-primary w-100" [disabled]="!form.valid">
                Login
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>