<div class="starter-page">
  <h1>Kim Ahrenberg</h1>
  <p class="text-muted"> 
      (More content coming soon...)™
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card card-home coding-card">
        <div class="card-content">
          <p>
            <strong>
              Developer
            </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card card-home photo-card">
        <div class="card-content">
          <p>
            <strong>
              Photo hobbyist
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>