<div class="starter-page">
  <h1>Kim Ahrenberg</h1>
  <p class="text-muted"> 
      Developer | Photo hobbyist
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card card-home coding-card" (click)="goTo('https://github.com/ahrekim')">
        <div class="card-content">
          <p>
            <strong>
              GitHub
            </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card card-home photo-card" (click)="goTo('https://photos.app.goo.gl/G1uQtFmP6KZQGVDB9')">
        <div class="card-content">
          <p>
            <strong>
              Photos
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>